<div class="card flex justify-content-center">
    <p-toast />
    <p-fileUpload 
        name="demo[]" 
        (onUpload)="onUpload($event)" 
        [multiple]="true" 
        maxFileSize="10000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                        {{ file.name }} - {{ file.size }} bytes
                    </li>
                </ul>
            </ng-template>
    </p-fileUpload>
</div>
