<div>
    <h2>Welcome {{ user.name }} <span class="wave">👋</span></h2>
    <p-divider layout="vertical"/>
    <p-button icon="pi pi-bell" severity="secondary" (onClick)="opNotif.toggle($event)"/>
    <p-divider layout="vertical"  />
    <p-button icon="pi pi-sign-out" severity="danger" (onClick)="onLogout()"/>
    <p-divider layout="vertical" />
    <p-button icon="pi pi-user" (onClick)="opProfil.toggle($event)" />
</div>
<p-overlayPanel #opNotif>
    <div class="flex flex-column gap-3 w-25rem">
        No Notification for now
        
    </div>
</p-overlayPanel>

<p-overlayPanel #opProfil>
    <div class="flex flex-column gap-3 w-25rem">
        <div>
            <span class="font-medium text-900 block mb-2">Username</span>
            <span class="text-900 block">{{ user.name }}</span>
        </div>
        <div>
            <span class="font-medium text-900 block mb-2">Role</span>
            <span class="text-900 block">{{ user.role }}</span>
        </div>
    </div>
</p-overlayPanel>