<!-- <h2>Login</h2>
<div class="flex flex-column gap-2">
    <label for="username">Username</label>
    <input 
        pInputText
        id="username" 
        aria-describedby="username-help" 
        [(ngModel)]="username" />
</div>
<p-button (click)="loginAsAdmin()">Login as Admin</p-button>
<p-button (click)="loginAsUser()">Login as User</p-button>
<p-button (click)="loginAsExpert()">Login as Expert</p-button> -->

<div class="block-content">

    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
            <span class="text-600 font-medium line-height-3">Don't have an account?</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
        </div>
    
        <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" >
            <label for="username" class="block text-900 font-medium mb-2">Username</label>
            <input name="username" type="text" placeholder="Email address" pInputText ngModel class="w-full mb-3">
    
            <label for="mdp" class="block text-900 font-medium mb-2">Password</label>
            <input name="mdp" type="password" placeholder="Password" ngModel pInputText class="w-full mb-3">
    
            <div class="flex align-items-center justify-content-between mb-6">
                <div class="flex align-items-center">
                    <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                    <label for="rememberme1" class="text-900">Remember me</label>
                </div>
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
            </div>
    
            <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full" type="submit"></button>
        </form>
    </div>
</div>